<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Subject Column Annotator</h1>
    {% from "_formhelpers.html" import render_field %}
    {% from "_formhelpers.html" import render_field_red %}
    <form method=post action="/table/annotateSubjectColumn">
      <dl>
        <div class="container">
          <div class="row">
            <div class="span3">
              {{ render_field(form.subjectColumn) }}
            </div>
            <div class="span2">
              {{ render_field_red(form.noSubjectColumn) }}
            </div>
            <div class="span2" style="position: relative; top:10px;">
              <input type=submit value=NextTable>
            </div>
          </div>
        </div>
      </dl>
    </form>
  </div>

  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
  </div>
{% endblock %}
