<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container-fluid" style="margin:20px;">
    <div class="row" style="padding:20px;">
      <h1>Property Annotator</h1>

      {% from "_formhelpers.html" import render_field %}
      {% from "_formhelpers.html" import render_field_red %}
      {% from "_formhelpers.html" import render_field_hiddenfield %}
      <form id="SubjectColumnIdentification-form" method=post action="/table/annotateProperty/{{username}}/{{tableId}}">
        <dl class="row">
          <div class="col-xs-2">
            {{ render_field_hiddenfield(form.index) }}
          </div>
          <div class="col-xs-3">
            {{ render_field_red(form.hasProperty) }}
          </div>
          <div class="col-xs-4">
            {{ render_field_red(form.propertyUri) }}
          </div>
          <div class="col-xs-1">
            <button id="property-add-button" class="btn btn-default btn-primary">Add</button>
          </div>
          <div class="pull-right">
            <table>
              <tr>
                <td>
                  <input id="submit-button" class="btn btn-lg btn-primary" type=submit value=NextTable onclick="submitClicked(event)">
                </td>
                <td>
                  <div id="spinner" style="display:none;" class="loader"><div class="loader-inner semi-circle-spin"><div></div></div></div>
                </td>
              </tr>
            </table>
          </div>
        </dl>
      </form>

    <!-- render table and other data here -->
    <div class="row">
      <table class="table" id="data-table">
          <thead>
            {% for row in table.table[0:1] %}
              <tr>
              {% for cell in row %}
                  <th class="col-{{loop.index - 1}}" onclick="setColumn(event)" onmouseenter="highlightColumn(event)" onmouseout="unHighlightColumn(event)">{{cell.decode('utf-8')}}</th>
              {% endfor %}
              </tr>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in table.table[1:10] %}
            <tr>
              {% for cell in row %}
                <td class="col-{{loop.index - 1}}" onclick="setColumn(event)" onmouseenter="highlightColumn(event)" onmouseout="unHighlightColumn(event)">{{cell.decode('utf-8')}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <h2>Annotated Properties</h2>
    <table class="table table-bordered">
      <thead>
        <th>Column Index</th>
        <th>Potentially a property</th>
        <th>Property URI</th>
        <th></th>
      </thead>
      <tbody id="property-annotation-list">
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-12 well" style="text-align:center;">
        <p>{{username}}, you have annotated {{numOfAnnotatedTables}} tables!</p>
        <a href="/help/propertyAnnotation" target="_blank">Open help page!</a>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    function highlightColumn(event) {
      var columnClass = event.target.classList[0];
      var columnElements = document.getElementsByClassName(columnClass);
      for (var i = 0; i < columnElements.length; i++) {
        columnElements[i].classList.add("well");
      }
    };

    function unHighlightColumn(event) {
      var columnClass = event.target.classList[0];
      var columnElements = document.getElementsByClassName(columnClass);
      for (var i = 0; i < columnElements.length; i++) {
        columnElements[i].classList.remove("well");
      }
    };

    function unbindCells() {
      var dataTable = $("#data-table");
      var cells = $("#data-table").children().children().children();
      for(var i = 0; i < cells.length; i++) {
        cells[i].onclick = function(){};
        cells[i].onmouseenter = function(){};
      }
    };

    function unbindSubjectColumn() {
      var subjectColumn = $(".col-{{subjectColumn}}");
      subjectColumn.each(function(index, element) {
        element.onclick = function(){};
        element.onmouseenter = function(){};
      });
    };

    function highlightSubjectColumn() {
      var subjectColumn = $(".col-{{subjectColumn}}");
      subjectColumn.each(function(index, element) {
        element.classList.add("info");
      });
    }

    function rebindCells() {
      var dataTable = $("#data-table");
      var cells = $("#data-table").children().children().children();
      for(var i = 0; i < cells.length; i++) {
        cells[i].classList.remove("well");
        cells[i].onclick = setColumn;
        cells[i].onmouseenter = highlightColumn;
        cells[i].onmouseout = unHighlightColumn;
        unbindSubjectColumn();
      }
    }

    function suggestPropertiesForColumn(columnNumber) {
      var properties = document.propertiesRecommended[columnNumber]["properties"];
      for(var i = 0; i < properties.length; i++) {
        properties[i]["data"] = properties[i]["uri"];
        properties[i]["value"] = properties[i]["prefixedName"];
      }
      var autocomplete = $('#propertyUri').autocomplete({
          lookup: properties,
          autoSelectFirst: true,
          //onSelect: function (suggestion) {}
      });
    }

    function setColumn(event) {
      var columnClass = event.target.classList[0];
      var columnElements = document.getElementsByClassName(columnClass);
      for (var i = 0; i < columnElements.length; i++) {
        columnElements[i].onmouseout = function(){};
      }

      unbindCells();

      var columnNumber = event.target.classList[0].split('-');
      columnNumber = columnNumber[columnNumber.length - 1];

      suggestPropertiesForColumn(columnNumber);

      var indexField = document.getElementById("index");
      var subjectColumnFieldVisible = document.getElementById("subjectColumnValue");
      indexField.value = columnNumber;
      subjectColumnFieldVisible.innerHTML = columnNumber;
    };

    function submitClicked(event) {
      document.getElementById('submit-button').disabled=true;
      var spinner = document.getElementById('spinner');
      spinner.style.display = 'block';
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: '',
        data: JSON.stringify(document.Properties),
        success: function(data, status) {
          window.location = data;
        }
      });
    };

    function removeProperty(event) {
      var row = event.target.parentElement.parentElement;
      var _id = row.id.split('-');
      var _id = _id[_id.length-1];
      document.Properties.splice(_id, 1);
    };

    $('document').ready(function(){

      unbindSubjectColumn();
      highlightSubjectColumn();

      function renderProperties(props) {
        var tableBody = $("#property-annotation-list");
        var htmlToRender = "";
        for(var i = 0; i < props.length; i++) {
          var row = ["<tr id='property-row-"+i+"'> ",
                     "<td> ", props[i].index ," </td>",
                     "<td> ", props[i].hasProperty ," </td>",
                     "<td> ", props[i].propertyUri ," </td>",
                     "<td> ", "<button class='btn btn-default btn-primary' onclick='removeProperty(event)'>Remove</button>" ," </td>",
                     " </tr>"].join(" ");
          htmlToRender += row;
        }
        tableBody.html(htmlToRender);
      };

      var ArrayWithListeners = function() {
        var arr = [];
        arr.push = function() {
          console.log("PUSHING", arguments);
          var _this = Array.prototype.push.apply(this, arguments);
          renderProperties(this);
          return _this;
        }
        arr.splice = function() {
          var _this = Array.prototype.splice.apply(this, arguments);
          renderProperties(this);
          return _this;
        }
        return arr;
      };

      document.propertiesRecommended = JSON.parse({{properties|tojson|safe}});
      document.Properties = new ArrayWithListeners();

      $('[data-toggle="tooltip"]').tooltip();
      $('#property-add-button').click(function(event) {
        event.preventDefault();
        var index = $('#index').val();
        $('#index').val("");
        $('#subjectColumnValue').html("Click to select");
        //var hasProperty = $('#hasProperty').val();
        var hasProperty = document.getElementById("hasProperty").checked;
        $('#hasProperty').attr('checked', false);
        var propertyUri = $('#propertyUri').val();
        $('#propertyUri').val("");
        var prop = {
          "index": index,
          "hasProperty": hasProperty,
          "propertyUri": propertyUri
        };
        rebindCells();
        document.Properties.push(prop);
      });
    });
  </script>
  <style>
  table {
    cursor: pointer;
  }
  .radio-button {
    outline: 1px #073CAC dotted;
    padding: 10px;
  }
  .semi-circle-spin > div {
    background-image: linear-gradient(transparent 0,transparent 70%,#000 30%,#000 100%);
  }

  #propertyUri { width: 80%; text-align: center; margin-bottom: 20px; }

  #propertyUri form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
  }
  #propertyUri form .biginput {
    width: 600px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  #propertyUri form .biginput:focus {
    color: #858585;
  }

  .autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
  .autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
  .autocomplete-selected { background: #f0f0f0; }
  .autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
  </style>
{% endblock %}
