<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container-fluid" style="margin:20px;">
    <div class="row">
      <h1>Table Annotator</h1>
      <p>
        <a href="http://webdatacommons.org/webtables/goldstandard.html">T2D Gold Standard</a> is missing subject columns and some properties. This web application fills the gap with your kindest help :)
      </p>
      <h2>Subject Column Annotation</h2>
      <p><a href="/subjectColumnAnnotation">Annotate subject columns</a></p>
      <h2>Property Annotation</h2>
      <p><a href="/propertyAnnotation">Annotate properties</a></p>
    </div>
{% endblock %}
